h1 {
    color: orange;
    font-size: 2em;
}

.md-typeset h2 {
    font-size: 1.5em;
}

a code {
    color: #2980B9;
}

a:hover code {
    color: #3091d1;
}

a:visited code {
    color: #9B59B6;
}

.md-header__topic {
    font-size: 1.6em;
    font-weight: 100 !important;
}

.md-logo {
    margin: 0px !important;
    padding: 0px !important;
}

.md-logo img {
    height: 2.7rem !important;
}

.md-tabs__link {
    font-size: .8rem !important;
}

.md-header {
    background: linear-gradient(to right,  #483D8B, #149fac); /* LightBlue to DarkSlateBlue */
}

.md-tabs {
    background: linear-gradient(to right,  #483D8B, #149fac); /* LightBlue to DarkSlateBlue */
}

.right-align {
    margin-left: 220px !important;
}

.underline-button {
    text-decoration: underline; /* Underline text */
}

.snipcart-add-item {
    background-color: #4CAF50; /* Green background */
    color: white; /* White text */
    padding: 10px 20px; /* Padding around the text */
    border: none; /* No border */
    border-radius: 5px; /* Rounded corners */
    cursor: pointer; /* Pointer cursor on hover */
    text-align: center; /* Centered text */
    text-decoration: none; /* No underline */
    display: inline-block; /* Inline block element */
    font-size: 16px; /* Font size */
    margin: 4px 2px; /* Margin around the button */
    transition-duration: 0.4s; /* Transition for hover effect */
}

.snipcart-add-item:hover {
    background-color: #45a049; /* Darker green background on hover */
}

.snipcart-checkout {
    background-color: #3269c7; /* Green background */
    color: white; /* White text */
    padding: 10px 20px; /* Padding around the text */
    border: none; /* No border */
    border-radius: 5px; /* Rounded corners */
    cursor: pointer; /* Pointer cursor on hover */
    text-align: center; /* Centered text */
    text-decoration: none; /* No underline */
    display: inline-block; /* Inline block element */
    font-size: 16px; /* Font size */
    margin: 4px 2px; /* Margin around the button */
    transition-duration: 0.4s; /* Transition for hover effect */
}

.snipcart-checkout:hover {
    background-color: #3269c7; /* Darker green background on hover */
}

/* Container for Snipcart elements */
.snipcart-container {
    text-align: right; /* Aligns content to the right */
}

/* Style for the Cart Button */
.your-custom-button-class {
    display: inline-block; /* Allows inline alignment with other elements */
    margin-bottom: 5px; /* Space between button and info */
    /* Additional button styling here */
}

/* Style for the Cart Info */
.your-custom-cart-info-class {
    display: inline-block; /* Aligns inline with the button */
    margin-left: 10px; /* Space between button and info text */
    /* Additional info styling here */
}


/* Style the 'Remove item' button */
.snipcart-button-icon.is-danger {
    background-color: #ff4d4d; /* Red background */
    border-radius: 5px; /* Rounded corners */
    padding: 5px; /* Padding around the SVG */
    border: none; /* Remove default border */
    transition: background-color 0.3s; /* Smooth transition for hover effect */
}

/* Hover effect */
.snipcart-button-icon.is-danger:hover {
    background-color: #e60000; /* Darker shade of red on hover */
}

/* Change the color of the SVG icon */
.snipcart-button-icon.is-danger .snipcart__icon {
    fill: white; /* White icon */
}

/* Hover effect for the SVG icon */
.snipcart-button-icon.is-danger:hover .snipcart__icon {
    fill: #f2f2f2; /* Slightly lighter shade of white on hover */
}






/* Style for the 'Checkout' button */
.snipcart-button-primary.snipcart-base-button.is-icon-right {
    background-color: #4CAF50; /* Green background */
    color: white; /* White text */
    padding: 10px 20px; /* Padding around the text */
    border: none; /* No border */
    border-radius: 5px; /* Rounded corners */
    cursor: pointer; /* Pointer cursor on hover */
    text-align: center; /* Centered text */
    display: inline-flex; /* Inline flex to align text and icon */
    align-items: center; /* Align items vertically */
    justify-content: center; /* Center content horizontally */
    transition: background-color 0.3s; /* Transition for hover effect */
}

/* Hover effect for the 'Checkout' button */
.snipcart-button-primary.snipcart-base-button.is-icon-right:hover {
    background-color: #45a049; /* Darker green background on hover */
}

/* Style for the button label */
.snipcart-base-button__label {
    margin-right: 10px; /* Space between label and icon */
}

/* Style for the SVG icon */
.snipcart-base-button__icon .snipcart__icon {
    fill: white; /* White icon */
}
